/* ベーススタイル */
body {
    background-color: black;
    color: #00faff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header h1 {
    text-align: center;
    margin-top: 20px;
    font-size: 36px;
    color: #00faff;
}

/* ボタンコンテナ */
.button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
}

.button-row {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 20px;
}

.button-item {
    width: 23%;
    text-align: center;
    margin-bottom: 10px;
}

.button {
    display: inline-block;
    background-color: transparent;
    color: #00faff;
    padding: 10px 20px;
    border: 3px solid #00faff;
    border-radius: 5px;
    box-shadow: 0 0 8px #00faff, 0 0 12px #00faff;
    text-decoration: none;
    clip-path: polygon(0% 0%, calc(100% - 15px) 0%, 100% 15px, 100% 100%, 15px 100%, 0% calc(100% - 15px));
    font-size: 12px; /* フォントサイズを小さく */
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #00faff;
    color: black;
}

.text {
    margin-top: 5px;
    font-size: 10px;
}
